$mobile-width: 768px;
$tablet-width: 1024px;
$top-header-height: 60px;
$mid-header-height: 132px;
$bot-header-height: 52px;

$primary-color: #96bd1a;
$secondary-color: #ff8e4a;
$secondary-color-dark: #c26c37;
$text-color: #252525;
$sub-text-color: #929292;
$form-background: #F5F6F7;
