.input {
    flex: 1;

    margin: 15px 0;
    &__label {
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: capitalize;

        &::after {
            content: '*';
            color: red;
            margin-left: 5px;
            font-size: 1.4rem;
        }
    }

    &__control {
        font-size: 1.4rem;
        padding: 10px;
    }

    &__error {
        font-size: 1.2rem;
        margin-top: 5px;
    }
}

.select {
    flex: 1;
    font-size: 1.4rem;

    margin: 15px 0;
    &__label {
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: capitalize;

        &::after {
            content: '*';
            color: red;
            margin-left: 5px;
            font-size: 1.4rem;
        }
    }

    &__input__control {
        padding: 4px;
    }

    &__error {
        font-size: 1.2rem;
        margin-top: 5px;
    }

}

.preview {
    &__list {
        @include flex();
        margin-top: 20px;
        column-gap: 15px;
    }

    &__img {
        max-width: 200px;
        border-radius: 5px;
        object-fit: contain;
    }
}