.form__background {
    background-color: $form-background;
}

.form {
    margin-top: 20px;
    margin-bottom: 50px;

    &__wrap {
        padding: 0 40px;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
    }

    &__btn {
        font-size: 1.5rem;
        margin: 20px 0;
        padding: 6px 15px;

        & + & {
            margin-left: 15px;
        }

        &--block {
            display: block;
            width: 100%;
        }

        &:hover, &:focus {
            background-color: white;
            color: $secondary-color;
            border-color: $secondary-color;
        }

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($color: $secondary-color, $alpha: 0.5);
        }

        &--success {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }

        &--danger {
            background-color: var(--bs-danger);
            border-color: var(--bs-danger);

            &:hover, &:focus {
                background-color: white;
                color: var(--bs-danger);
                border-color: var(--bs-danger);
            }
    
            &:focus {
                box-shadow: 0 0 0 0.25rem rgba($color: var(--bs-danger), $alpha: 0.5);
            }
        }
    }

    &__redirect {
        font-size: 1.4rem;
        margin-bottom: 10px;
        text-align: center;

        &__link {
            color: $secondary-color;
            transition: color 0.2s ease-in;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }
    }

    &__social-login {
        margin-top: 40px;
        text-align: center;

        &__title {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 20px;
        }

        &__list {
            @include flex(center, center);
            column-gap: 15px;
        }

        &__item {
            @include flex(center);
            font-size: 1.4rem;
            color: white;
            padding: 10px;
            min-width: 120px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.2s ease-in;

            &__icon {
                font-size: 2rem;
                margin-right: 5px;
            }

            &__text {
                flex: 1;
                text-align: center;
            }

            &--facebook {
                background-color: #3B5999;
            }

            &--google {
                background-color: #F4574C;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }
}