.home {
    &__banner {
        margin-top: 30px;

        &__item {
            overflow: hidden;
        }

        &__img {
            transition: all 0.25s ease-in-out;
            transform-origin: center;cursor: pointer;

            &:hover {
                transform: scale(1.1);
                filter: opacity(0.8);
            }
        }
    }
}