.listItem {
    font-size: 1.4rem;
    overflow-x: scroll;

    &__header {
        font-size: 1.6rem;
        text-align: center;
        text-transform: capitalize;
    }

    &__title, &__item {
        padding: 5px 5px !important;
        text-align: center;
        font-size: 1.4rem;
    }

    &__btn {
        font-size: 1.4rem;
    }
    
    &__img {
        max-width: 100px;
        border-radius: 5px;
    }
}

.check {
    @include flex(center, space-between);
    background-color: #E3EEFA;
    padding: 10px;
    border-radius: 5px;

    &-quantity {
        font-size: 1.6rem;
        animation: bla 0.25s  ease-in-out;
    }

    &-action {
        font-size: 1.6rem;
        padding-left: 9px;
        padding-right: 9px;
    }

    &-input {
       cursor: pointer;
    }
}

@keyframes bla {
    from {opacity: 0;}
    to {opacity: 1;}
}

.filter {
    @include flex(center, space-between);
    background-color: #E3EEFA;
    padding: 10px;
    border-radius: 5px;

    &-btn {
        font-size: 1.6rem;
    }
}

.add-btn {
    padding: 8px 20px;
    font-size: 1.6rem;
    margin-bottom: 15px;

    & i {
        margin-right: 10px;
    }
}

